<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <h2 class="page-header">Car Table <button class="btn btn-default"
            ng-click="ngTableDemoController.addCar()">Add Car</button></h2>
        <table ng-table="ngTableDemoController.tableParams" class="table" show-filter="true">
            <tr ng-repeat="automobile in $data">
                <td class="col-sm-1" title="'Id'" filter="{ id: 'text'}" sortable="'id'">
                    {{automobile.id}}</td>
                <td title="'Owner name'" filter="{ name: 'text'}" sortable="'name'">
                    {{automobile.name}}</td>
                <td title="'Owner surname'" filter="{ surname: 'text'}" sortable="'surname'">
                    {{automobile.surname}}</td>
                <td title="'Company'" filter="{ company: 'text'}" sortable="'company'">
                    {{automobile.company}}</td>
                <td title="'Plate'" filter="{ plate: 'text'}" sortable="'plate'">
                    {{automobile.plate}}</td>
            </tr>
        </table>
    </div>
</div>